/**
 * Table of Contents
 *
 * 01. - Necessary Standard Imports
 * 02. - Reset
 * 03. - Typography
 *    03.1 - Buttons
 * 04. - Forms
 * 05. - Utility Classes
 * 06. - Header
 *    06.1 - Top Navigation
 * 07. - Footer
 *    07.1 - About The Author
 *    07.2 - Subscriber Aquisition Form
 * 08. - Content
 *    08.1 - Posts
 *    08.2 - Product Placements
 *    08.3 - Specific Posts Formats
 *    08.4 - Sales Meeting LP
 *    08.5 - Reminders & Gear LP
 *    08.6 - 404 LP
 * 09.0 - Homepage
 * 10.0 - Archive/Category
 * 11.0 - Secondary Elements
 *    11.1 - Modals
 * 12.0 - Media Queries
 *    12.1 - Mobile
 *    12.2 - Tablet
 *    12.3 - Desktop Small
 *    12.4 - Desktop Large
 */
/**
 * 01. - Necessary Standard Imports
 *
 * Pull in all neccessary default imports required up front.
 */
/* Fonts */
/* Colors */
/* Sitewide Widths */
/**
 * 02. - Reset
 *
 * Reset for all generally used html tags and elements
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, figure, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  background: #FFF; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block; }

ol,
ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption,
th,
td {
  font-weight: normal;
  text-align: left; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ""; }

blockquote,
q {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  quotes: none; }

a:hover,
a:focus,
a:active {
  outline: 0; }

a img {
  border: 0; }

/**
 * 03. - Typography
 *
 *
 */
body,
button,
input,
select,
textarea {
  color: #262626;
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 10px;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5; }

a, a:visited {
  color: #DA8D30; }

a:hover, a:focus {
  color: #EFAA56; }

h1, h2, h3, h4 {
  color: #262626;
  clear: both;
  font-weight: 600; }

h1, h2, h3 {
  text-transform: uppercase; }

h1 {
  font-size: 3.8em;
  font-size: 3.8rem;
  line-height: 1; }

h2 {
  font-size: 2.8em;
  font-size: 2.8rem;
  line-height: 1.2; }

h3 {
  font-size: 2em;
  font-size: 2rem;
  line-height: 1.4; }

h4 {
  font-size: 2.4em;
  font-size: 2.4rem;
  line-height: 1; }

p, ol, ul {
  font-size: 2.2em;
  font-size: 2.2rem;
  margin-bottom: 1.5em; }

b,
strong {
  font-weight: 600; }

/* 03.01 - Buttons */
.flat-btn {
  background: #DA8D30;
  color: #FFF;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none; }
  .flat-btn:focus, .flat-btn:active, .flat-btn:hover, .flat-btn:visited {
    color: #FFF; }
  .flat-btn:hover {
    background: #EFAA56;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); }

/* END .flat-btn */
.flat-outline-btn.white-btn, .flat-outline-btn.white-btn:hover {
  background: none;
  color: #656565;
  border: 1px solid #CCC; }
.flat-outline-btn.white-btn:hover {
  text-decoration: underline; }

/* END .flat-outline-btn */
/**
 * 04. - Forms
 *
 *
 */
form .error {
  color: #E54C4C; }
form .error-title {
  margin-bottom: 1em; }

input,
select,
textarea,
label {
  background-color: #FFF;
  border-radius: 0;
  font-size: 1.6em;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  max-width: 100%;
  vertical-align: baseline; }

input,
textarea {
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  /* Removing the inner shadow on iOS inputs */
  border: 1px solid #C1C1C1;
  color: #707070;
  color: rgba(51, 51, 51, 0.7); }

input:focus,
textarea:focus {
  background-color: #FFF;
  border: 1px solid #C1C1C1;
  color: #333; }

input:focus,
select:focus {
  outline: 2px solid #C1C1C1;
  outline: 2px solid rgba(51, 51, 51, 0.3); }

button[disabled],
input[disabled],
select[disabled],
textarea[disabled] {
  cursor: default;
  opacity: .5; }

input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  background-color: #DA8D30;
  border: 1px solid #DA8D30;
  color: #FFF;
  cursor: pointer;
  font-weight: 300;
  padding: 0.74em 1.2em; }

input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  background-color: #EFAA56;
  border-color: #EFAA56;
  outline: 0; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  padding: 0.74em;
  width: 100%; }

textarea {
  overflow: auto;
  vertical-align: top; }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  outline: 0; }

input[type="checkbox"],
input[type="radio"] {
  padding: 0; }

p.error {
  font-size: 1.8em; }

.form-errors-container {
  color: #E54C4C;
  margin-bottom: 2em;
  text-align: left; }

.multi-input-form input[type="text"],
.multi-input-form select,
.multi-input-form textarea {
  margin-bottom: 1.5em; }
  .multi-input-form input[type="text"].error,
  .multi-input-form select.error,
  .multi-input-form textarea.error {
    background-color: #FFDCDC;
    border-color: #E54C4C; }
  .multi-input-form input[type="text"].has-input-note,
  .multi-input-form select.has-input-note,
  .multi-input-form textarea.has-input-note {
    margin-bottom: 0.3em; }
.multi-input-form p.error {
  margin: 0;
  text-align: left; }
.multi-input-form .input-note {
  font-size: 1.5em; }

/* END .multi-input-form */
.single-input-form {
  text-align: center; }
  .single-input-form input[type="text"],
  .single-input-form input[type="email"],
  .single-input-form input[type="url"],
  .single-input-form input[type="password"],
  .single-input-form input[type="search"] {
    width: 70%;
    margin-bottom: 0.5em; }
  .single-input-form input[type="button"],
  .single-input-form input[type="reset"],
  .single-input-form input[type="submit"] {
    margin-left: -0.5em; }
  .single-input-form p.error {
    margin-bottom: 0; }
  .single-input-form p.title {
    font-size: 1.8em; }

/* END .single-input-form */
/**
 * 05. - General Structure & Utility Classes
 *
 *
 */
/* 05.01 - General Structure */
.inner-container {
  margin: 0 auto;
  max-width: 1280px;
  width: 80%; }

.engaging-background {
  min-height: 400px;
  position: relative; }
  .engaging-background .inner-container {
    left: 10%;
    position: absolute;
    right: 10%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

/* END .engaging-background */
.no-csstransforms .engaging-background {
  padding: 5em 0; }
  .no-csstransforms .engaging-background .inner-container {
    margin: 0 auto;
    position: relative;
    left: auto;
    right: auto;
    top: auto; }

/* END .no-css-transforms .engaging-background */
/* 05.02 - Utility Classes */
.clear-both {
  clear: both; }

.clear-fix:before,
.clear-fix:after {
  content: "";
  display: table; }

.clear-fix:after {
  clear: both; }

.clear-fix {
  zoom: 1; }

/* For IE 6/7 (trigger hasLayout) */
.center-copy {
  text-align: center; }

.no-wrap {
  white-space: nowrap; }

/**
 * 06. - Header
 *
 *
 */
/* 06.01 - Top Navigation */
nav {
  background-color: #FFF;
  background-color: white;
  padding: 1.2em 0;
  /* END .justsell-logo */
  /* END .navigation-items */ }
  nav .justsell-logo {
    display: block;
    float: left;
    width: 20%; }
    nav .justsell-logo img {
      display: block;
      height: auto;
      max-width: 180px;
      width: 100%; }
  nav .inner-container {
    max-width: 960px;
    width: 80%; }
  nav .navigation-items {
    float: right;
    margin-bottom: 0;
    /* END .item */ }
    nav .navigation-items .item {
      display: inline-block;
      font-size: 0.7em;
      font-size: 1.5rem;
      font-weight: 600;
      margin-right: 2.5em; }
      nav .navigation-items .item:last-child {
        margin-right: 0; }
      nav .navigation-items .item a {
        color: #262626;
        text-decoration: none; }
      nav .navigation-items .item a:hover {
        text-decoration: underline; }
  nav.not-top {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s ease-in-out; }
  nav.unpinned {
    top: -108px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s ease-in-out;
    -webkit-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%); }
  nav.pinned {
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s ease-in-out; }

/* END nav */
/**
 * 07. - Footer
 *
 *
 */
footer .inner-container, .about-the-author .inner-container, .footer-subscriber-acquisition .inner-container {
  max-width: 960px;
  width: 80%; }

footer:before, .about-the-author:before, .footer-subscriber-acquisition:before,
footer:after, .about-the-author:after, .footer-subscriber-acquisition:after {
  content: "";
  display: block;
  min-height: 4em;
  padding: 2% 0; }

footer {
  background: #262626;
  color: #FFF; }
  footer a {
    color: #FFF; }
  footer a:hover {
    color: #FFF;
    text-decoration: underline; }
  footer address {
    font-size: 1.2em; }
  footer .copyright-and-links {
    font-size: 1.4em;
    font-size: 1.4rem; }
  footer .contact-attribute {
    color: #CCC;
    text-transform: uppercase; }
    footer .contact-attribute.email {
      margin-left: 2em; }
  footer .general-info-copyright {
    float: left;
    width: 75%; }
  footer .office-location {
    float: right;
    width: 20%; }
  footer .office-map, footer .office-map img {
    display: block;
    height: auto;
    max-width: 200px;
    width: 100%; }
  footer .office-map {
    margin-bottom: 1em; }
  footer .title {
    color: #FFF;
    margin-bottom: 0.2em; }
  footer .subtitle {
    border-bottom: 1px solid #FFF;
    margin-bottom: 1em;
    padding-bottom: 0.8em; }

/* END footer */
footer p, .about-the-author p {
  font-size: 1.6em;
  font-size: 1.6rem; }
  footer p:last-child, .about-the-author p:last-child {
    margin-bottom: 0; }

/* 07.01 - About The Author */
.about-the-author {
  background: #D8D8D8; }
  .about-the-author a {
    color: #262626; }
  .about-the-author a:hover {
    text-decoration: underline; }
  .about-the-author h2 {
    margin-bottom: 0.3em; }
  .about-the-author .author-bio {
    float: right;
    width: 75%; }
  .about-the-author .author-headshot {
    display: block;
    float: left;
    width: 20%; }

/* END about-the-author */
/* 07.02 - Subscriber Aquisition Form */
.footer-subscriber-acquisition {
  background: #FFF;
  text-align: center; }
  .footer-subscriber-acquisition p {
    margin-bottom: 0; }
  .footer-subscriber-acquisition form {
    margin: 1em 0; }

/* END footer-subscriber-acquisition */
/**
 * 08. - Content
 *
 *
 */
/* 08.01 - Content Posts */
article {
  margin: 0 auto 5em;
  max-width: 650px;
  width: 80%;
  /* END .social-media-single-post-share */
  /* Post utility classes */
  /* END .thumbnail-left-20-percent */ }
  article figure img {
    height: auto;
    width: 80%; }
  article header {
    margin-bottom: 2.5em; }
  article h2 {
    margin-bottom: 0.5em; }
  article h4 {
    margin-bottom: 1.5em; }
  article p:last-child {
    margin-bottom: 0; }
  article ol, article ul {
    list-style-type: decimal;
    padding-left: 1.5em; }
    article ol li, article ul li {
      margin-bottom: 1.5em; }
    article ol.tight-list li, article ul.tight-list li {
      margin-bottom: 0.3em; }
  article ol {
    list-style-type: decimal; }
  article ul {
    list-style-type: circle; }
  article .article-title {
    margin-bottom: 0.3em; }
  article .article-author {
    color: #262626;
    font-size: 1.6em;
    font-size: 1.6rem; }
  article .engaging-header-image {
    height: auto;
    margin-bottom: 3em;
    width: 100%; }
  article .post-pdf-request {
    background: #FFF;
    margin-bottom: 4em;
    padding: 3em;
    text-align: center; }
  article .post-promotion {
    margin-bottom: 4em;
    text-align: center; }
  article .social-media-single-post-share {
    padding: 2em 0;
    text-align: center; }
    article .social-media-single-post-share a {
      display: inline-block;
      margin-left: 0.4em;
      vertical-align: middle; }
  article .bottom-border {
    border-bottom: 1px solid #262626;
    margin-bottom: 1em;
    padding-bottom: 0.8em; }
  article .contains-subtitle {
    margin-bottom: 0.8em; }
    article .contains-subtitle .subtitle {
      font-size: 1.3em;
      margin: 0 0 0 -1.5em; }
  article .double-bottom-margin {
    margin-bottom: 3em; }
  article .half-bottom-margin {
    margin-bottom: 0.75em; }
  article .no-bottom-margin {
    margin-bottom: 0; }
  article .thumbnail-left-20-percent {
    float: left;
    margin: 0 6% 2em 0;
    width: 20%; }
    article .thumbnail-left-20-percent.last {
      margin-right: 0; }
    article .thumbnail-left-20-percent img {
      height: auto;
      width: 100%; }

/* END article */
.single-post main {
  background: url("/wp-content/themes/justsell/resources/images/in-post/throughout/single-post-header-dusty-background-600x400.png") repeat-x; }

/* 08.02 - Product Placements */
.product-placement {
  border-bottom: 1px solid #E5E5E5;
  border-top: 1px solid #E5E5E5;
  margin: 0 auto;
  max-width: 960px;
  padding: 4em 0;
  text-align: center; }
  .product-placement.bottom-placement {
    margin-bottom: 0; }
  .product-placement.no-border {
    border: none; }
  .product-placement.no-padding {
    padding: 0; }
  .product-placement img {
    height: auto;
    width: 100%; }
  .product-placement p {
    margin-bottom: 0; }
  .product-placement .placement-title {
    color: #262626;
    font-size: 3.6em;
    font-weight: 600;
    margin-bottom: 0.7em;
    text-align: center; }
  .product-placement .extra-link-breathing-room {
    display: inline-block;
    margin-bottom: 2em; }
  .product-placement .cta-images a {
    color: #262626;
    text-decoration: none;
    text-align: center; }
  .product-placement .cta-images a:hover {
    text-decoration: underline; }
  .product-placement .cta-images img {
    height: auto;
    width: 90%; }
  .product-placement .cta-images.four-cta-links a {
    display: block;
    float: left;
    width: 25%; }
  .product-placement .cta-links a {
    text-decoration: underline;
    text-align: center; }
  .product-placement .cta-links.three-cta-links a {
    display: block;
    float: left;
    width: 33%; }

/* END .product-placement */
/* 08.03 - Specific Posts Formats */
.post-id-10 article {
  max-width: 960px; }

/* JUSTSELL MONTHLY CALENDARS */
.post-id-12 {
  background: #9CA5A1; }
  .post-id-12 article a {
    color: #E4E4E4; }

/* SALES PROCESS DEFINED */
.post-id-14 {
  background: #EDE9DD; }

/* THE 8 OBJECTIONS */
.post-id-18 {
  background: #A0C7EA; }
  .post-id-18 .subtitle.first {
    font-size: 2.8em;
    margin-bottom: 0.5em; }

/* SALES INTERVIEW QUESTIONS */
.post-id-16 {
  background: #FFDFB0; }

/* OPENING STATEMENTS */
.post-id-20 {
  background: #F3F7E5; }

/* HOW TO FOCUS */
.post-id-22 {
  background: #D5F3C8; }

/* SALES MANAGEMENT CHECKLIST */
.post-id-24 {
  background: #D9E6DC; }

/* TOP 30 OPEN-ENDED QUESTIONS */
/* 08.04 - Sales Meetings */
.sales-meetings-lp {
  background: #E5E5E5;
  /* END header */
  /* END .who-we-are */
  /* END .how-we-can-help */
  /* END .our-products */ }
  .sales-meetings-lp main {
    margin: 0 auto;
    max-width: 1280px; }
  .sales-meetings-lp header {
    background: url("/wp-content/themes/justsell/resources/images/landing-pages/sales-meetings/engaging-backgrounds/sales-header-woman-man-1280x770.jpg") no-repeat center #DA8D30;
    color: #FFF;
    min-height: 700px;
    text-align: center; }
    .sales-meetings-lp header .title {
      color: #FFF;
      font-size: 4.2em;
      font-weight: 300;
      line-height: 1;
      margin: 0 auto 0.6em;
      max-width: 800px;
      text-transform: none; }
  .sales-meetings-lp .who-we-are {
    background: #46505A;
    padding: 5em 3em 9em;
    text-align: center;
    /* END .title */ }
    .sales-meetings-lp .who-we-are .title {
      color: #FFF;
      font-size: 3.4em;
      font-weight: 300;
      line-height: 1.2;
      margin: 0 auto;
      max-width: 800px;
      position: relative;
      text-transform: none; }
      .sales-meetings-lp .who-we-are .title:after {
        border-top: 1px solid #FFF;
        content: " ";
        left: 50%;
        margin-left: -1.5em;
        position: absolute;
        bottom: -0.8em;
        width: 3em; }
  .sales-meetings-lp .how-we-can-help {
    background: #FFF;
    padding: 5%;
    /* END .branded-solution */ }
    .sales-meetings-lp .how-we-can-help .branded-solution {
      border: 1px solid #E5E5E5;
      float: left;
      margin: 0 5% 5% 0;
      min-width: 250px;
      padding: 2em 4em;
      width: 30%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .sales-meetings-lp .how-we-can-help .branded-solution.active-hover-state {
        background: url("/wp-content/themes/justsell/resources/images/landing-pages/sales-meetings/gray-blue-white-angled-pinstripe-background-seamless-200x200.jpg") repeat center; }
      .sales-meetings-lp .how-we-can-help .branded-solution.active-hover-state .brand-solution-tagline {
        color: #FFF; }
      .sales-meetings-lp .how-we-can-help .branded-solution.active-hover-state .white-btn {
        color: #FFF;
        border-color: #FFF; }
      .sales-meetings-lp .how-we-can-help .branded-solution.last {
        margin-right: 0; }
    .sales-meetings-lp .how-we-can-help .brand-logo, .sales-meetings-lp .how-we-can-help .brand-logo img {
      display: block;
      height: auto;
      max-width: 350px;
      width: 100%; }
    .sales-meetings-lp .how-we-can-help .brand-logo {
      border-bottom: 2px solid #F2BB40;
      margin-bottom: 1em;
      padding-bottom: 0.5em; }
    .sales-meetings-lp .how-we-can-help .brand-solution-tagline {
      color: #4C4C4C;
      font-size: 2.6em;
      line-height: 1.2; }
    .sales-meetings-lp .how-we-can-help .brand-cta {
      font-size: 1.4em; }
    .sales-meetings-lp .how-we-can-help .flat-btn {
      margin-right: 1em; }
    .sales-meetings-lp .how-we-can-help .section-title {
      color: #333333; }
  .sales-meetings-lp .our-products {
    background: #DA8D30; }
    .sales-meetings-lp .our-products .engaging-image {
      float: left;
      height: auto;
      width: 35%; }
    .sales-meetings-lp .our-products .our-product-offer {
      float: left;
      padding: 4% 0 0 7%;
      width: 65%; }
    .sales-meetings-lp .our-products .category {
      color: #262626; }
    .sales-meetings-lp .our-products .contact-prompt {
      color: #FFF;
      margin-bottom: 0; }
    .sales-meetings-lp .our-products .contact-prompt a {
      color: #FFF;
      text-decoration: underline; }
    .sales-meetings-lp .our-products .contact-prompt .chat-bubble-icons {
      float: left;
      margin-right: 1em;
      padding-top: 0.6em; }
    .sales-meetings-lp .our-products .product-category-list {
      float: left;
      font-size: 1em;
      list-style: none;
      margin-bottom: 2em;
      width: 50%; }
    .sales-meetings-lp .our-products .product-category {
      font-size: 1.8em;
      text-transform: uppercase;
      line-height: 2.5; }
    .sales-meetings-lp .our-products .section-subtitle,
    .sales-meetings-lp .our-products .section-title {
      color: #FFF;
      text-align: left; }
    .sales-meetings-lp .our-products .section-subtitle {
      font-size: 1.8em;
      margin-bottom: 0.5em; }
    .sales-meetings-lp .our-products .section-title {
      margin-bottom: 0.4em; }
    .sales-meetings-lp .our-products .section-title.with-subtitle {
      line-height: 1;
      margin-bottom: 0; }
  .sales-meetings-lp .section-title {
    font-size: 3.6em;
    font-weight: 300;
    text-align: center; }

/* END .sales-meetings-lp */
/* 08.05 - Reminders & Gear LP */
.reminders-and-gear-lp {
  background: #E5E5E5;
  /* END header */
  /* END .cta-container */
  /* END .engaging-background */ }
  .reminders-and-gear-lp header {
    background-image: url("/wp-content/themes/justsell/resources/images/landing-pages/reminders-and-gear/engaging-backgrounds/ctl-booklet-meeting-1366x310.jpg");
    min-height: 310px; }
    .reminders-and-gear-lp header .inner-container {
      background: #FFF;
      padding: 3em;
      text-align: center;
      width: 65%; }
    .reminders-and-gear-lp header .subtitle {
      font-weight: 300;
      text-transform: none; }
  .reminders-and-gear-lp main {
    margin: 0 auto;
    max-width: 1280px; }
  .reminders-and-gear-lp .cta-container {
    background: #FFF;
    background: rgba(255, 255, 255, 0.9);
    padding: 2.5em;
    width: 45%; }
    .reminders-and-gear-lp .cta-container .title {
      margin-bottom: 0.2em; }
    .reminders-and-gear-lp .cta-container .gear-info {
      margin-bottom: 1em; }
    .reminders-and-gear-lp .cta-container .gear-cta {
      font-size: 2em;
      margin-bottom: 0; }
  .reminders-and-gear-lp .engaging-background {
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 20px solid #FFF; }
    .reminders-and-gear-lp .engaging-background.gear {
      min-height: 530px; }
  .reminders-and-gear-lp .last {
    border: none; }
  .reminders-and-gear-lp .right-cta .cta-container {
    float: right; }
  .reminders-and-gear-lp #banners-and-posters {
    background-image: url("/wp-content/themes/justsell/resources/images/landing-pages/reminders-and-gear/engaging-backgrounds/212-block-point-black-poster-1366x550.jpg");
    background-position-x: 60%; }
  .reminders-and-gear-lp #books-and-booklets {
    background-image: url("/wp-content/themes/justsell/resources/images/landing-pages/reminders-and-gear/engaging-backgrounds/all-books-fanned-wood-table-1366x550.jpg");
    background-position-x: 60%; }
  .reminders-and-gear-lp #framed-prints {
    background-image: url("/wp-content/themes/justsell/resources/images/landing-pages/reminders-and-gear/engaging-backgrounds/mgth-blue-framed-print-1366x550.jpg");
    background-position-x: 30%; }
  .reminders-and-gear-lp #mugs {
    background-image: url("/wp-content/themes/justsell/resources/images/landing-pages/reminders-and-gear/engaging-backgrounds/mgth-purple-mug-1366x550.jpg");
    background-position-x: 90%; }
  .reminders-and-gear-lp #note-cards {
    background-image: url("/wp-content/themes/justsell/resources/images/landing-pages/reminders-and-gear/engaging-backgrounds/mgth-red-note-card-1366x550.jpg");
    background-position-x: 65%; }

/* END .reminders-and-gear-lp */
/* 08.06 - 404 */
.error-404-lp {
  margin-bottom: 6em;
  text-align: center; }

/* END .error-404-lp */
/**
 * 09. - Homepage
 *
 */
.homepage {
  /* END .more-sales-tools-container, .popular-sales-tools-container */
  /* END .additonal-landing-pages-and-motivation */
  /* END .footer-motivational-video */
  /* END .more-sales-tools-container */
  /* END .motivational-video */
  /* END .popular-sales-tools-container */
  /* END .post-info */ }
  .homepage header {
    background: url("/wp-content/themes/justsell/resources/images/landing-pages/homepage/engaging-backgrounds/conference-room-group-meeting-blue-overlay-1366x500.jpg") no-repeat #3498DB;
    background-size: cover;
    margin-bottom: 5em;
    padding: 8em 0;
    text-align: center; }
    .homepage header .about-us {
      background: #FFF;
      background: rgba(255, 255, 255, 0.9);
      padding: 2em; }
    .homepage header .subtitle {
      font-weight: 300; }
  .homepage .additional-landing-pages-and-motivation,
  .homepage .more-sales-tools-container,
  .homepage .popular-sales-tools-container {
    float: left;
    margin-bottom: 3em; }
    .homepage .additional-landing-pages-and-motivation .section-title,
    .homepage .more-sales-tools-container .section-title,
    .homepage .popular-sales-tools-container .section-title {
      font-family: "merriweather", Times, serif;
      font-size: 2.3em;
      font-weight: 400;
      margin-bottom: 1em; }
  .homepage .more-sales-tools-container,
  .homepage .popular-sales-tools-container {
    margin-right: 5%; }
    .homepage .more-sales-tools-container .sales-tool,
    .homepage .popular-sales-tools-container .sales-tool {
      margin-bottom: 5em; }
  .homepage .additional-landing-pages-and-motivation {
    width: 20%;
    /* END .post-info */ }
    .homepage .additional-landing-pages-and-motivation .post-info .post-excerpt {
      font-size: 1.5em; }
    .homepage .additional-landing-pages-and-motivation .motivational-landing-pages .cta-btn {
      font-size: 1.4em; }
      .homepage .additional-landing-pages-and-motivation .motivational-landing-pages .cta-btn .flat-btn {
        color: #FFF;
        display: block; }
    .homepage .additional-landing-pages-and-motivation .motivational-landing-pages .post-info {
      margin-bottom: 5em;
      max-width: 400px; }
    .homepage .additional-landing-pages-and-motivation .motivational-landing-pages .post-teaser-image {
      margin-bottom: 0; }
  .homepage .footer-motivational-video {
    background: url("/wp-content/themes/justsell/resources/images/landing-pages/homepage/engaging-backgrounds/sales-header-woman-man-orange-overlay-1366x550.jpg") no-repeat #DA8D30;
    background-size: cover;
    background-position-x: 100%;
    clear: both;
    color: #FFF;
    min-height: 500px;
    padding: 5em;
    text-align: center; }
    .homepage .footer-motivational-video .play-video-cta {
      display: block;
      margin-bottom: 0.5em; }
    .homepage .footer-motivational-video .title {
      color: #FFF;
      font-size: 3.5em;
      font-weight: 300;
      margin: 0 auto 0.5em;
      line-height: 1.2;
      text-transform: none;
      width: 60%; }
    .homepage .footer-motivational-video .subtitle {
      margin-bottom: 0; }
  .homepage .more-sales-tools-container {
    width: 30%;
    /* END .post-info */ }
    .homepage .more-sales-tools-container .browse-all-cta {
      font-size: 1.5em; }
    .homepage .more-sales-tools-container .post-info .post-excerpt {
      font-size: 1.6em; }
  .homepage .motivational-video {
    margin-bottom: 4em; }
    .homepage .motivational-video .post-teaser-image {
      max-width: 400px; }
  .homepage .popular-sales-tools-container {
    width: 40%;
    /* END .post-info */ }
    .homepage .popular-sales-tools-container .post-info .post-excerpt {
      font-size: 1.8em; }
  .homepage .post-info {
    /* END .post-teaser-image */ }
    .homepage .post-info .cta-btn {
      font-size: 1.6em;
      margin-bottom: 0; }
      .homepage .post-info .cta-btn a {
        text-decoration: none; }
    .homepage .post-info .post-teaser-image {
      display: block;
      margin-bottom: 1.8em; }
      .homepage .post-info .post-teaser-image img {
        display: block;
        height: auto;
        width: 100%; }
    .homepage .post-info .post-title {
      font-size: 2em;
      margin-bottom: 0.5em;
      text-transform: none; }
      .homepage .post-info .post-title a {
        color: #262626;
        text-decoration: none; }
    .homepage .post-info .post-excerpt {
      margin-bottom: 1em; }

/* END .homepage */
/**
 * 10. - Archive/Category
 *
 *
 */
.category-lp {
  background: #EAEAEB;
  /* END header */
  /* END .post */ }
  .category-lp header {
    background: #666666;
    margin-bottom: 6em;
    padding: 6em 0;
    text-align: center; }
    .category-lp header .title {
      background: #FFF;
      color: #666666;
      display: inline-block;
      padding: 0.4em 1em; }
  .category-lp .archive-post-list {
    margin-bottom: 4em; }
  .category-lp .inner-container {
    max-width: 960px;
    width: 80%; }
  .category-lp .post {
    background: #FFF;
    margin-bottom: 2em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    /* END .post-teaser-image */
    /* END .post-title */ }
    .category-lp .post:last-child {
      margin-bottom: 0; }
    .category-lp .post .cta-btn {
      font-size: 0.8em;
      margin-bottom: 0; }
    .category-lp .post .post-excerpt {
      font-size: 1em;
      margin-bottom: 1em; }
    .category-lp .post .post-info {
      float: right;
      padding: 1.7em;
      width: 75%; }
    .category-lp .post .post-teaser-image {
      display: block;
      float: left;
      width: 25%; }
      .category-lp .post .post-teaser-image img {
        display: block;
        height: auto;
        width: 100%; }
    .category-lp .post .post-title {
      font-size: 1.1em;
      margin-bottom: 0.2em; }
      .category-lp .post .post-title a {
        color: #262626;
        text-decoration: none; }

/* END .category-lp */
/**
 * 11. - Secondary Elements
 *
 *
 */
/*
 *  Remodal's necessary styles
 */
/* Hide scroll bar */
html.remodal-is-locked {
  overflow: hidden; }

/* Anti FOUC */
.remodal, [data-remodal-id] {
  display: none; }

/* Necessary styles of the overlay */
.remodal-overlay {
  bottom: -5000px;
  display: none;
  left: -5000px;
  position: fixed;
  right: -5000px;
  top: -5000px;
  z-index: 9999; }

/* Necessary styles of the wrapper */
.remodal-wrapper {
  bottom: 0;
  display: none;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 10000;
  -webkit-overflow-scrolling: touch; }

.remodal-wrapper:after {
  content: "";
  display: inline-block;
  height: 100%;
  margin-left: -0.05em; }

/* Fix iPad, iPhone glitches */
.remodal-overlay, .remodal-wrapper {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

/* Necessary styles of the modal dialog */
.remodal {
  outline: none;
  position: relative;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

/* Disable Anti-FOUC */
.remodal-is-initialized {
  display: inline-block; }

/*
 *  Remodal's Mobile First Design styles
 */
.remodal {
  background: #fff;
  color: #2b2e38;
  text-align: left;
  margin-bottom: 10px;
  padding: 0 35px 35px 35px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  /* END .etf-cta-btns */ }
  .remodal .modal-title {
    background: #262626;
    color: #FFF;
    margin: 0 -35px 35px;
    padding: 0.7em 60px;
    text-align: center; }
  .remodal .etf-cta-btns {
    margin-top: 2em;
    /* END .cta-btn */ }
    .remodal .etf-cta-btns .cta-btn {
      display: inline-block;
      margin: 0 1.5em 0 0; }
      .remodal .etf-cta-btns .cta-btn.last {
        margin-right: 0; }
      .remodal .etf-cta-btns .cta-btn a {
        border: 1px solid transparent;
        color: #262626;
        display: block;
        padding: 0.65em;
        text-decoration: none; }
        .remodal .etf-cta-btns .cta-btn a:hover {
          background: #FFF;
          border-color: #B2B2B2; }
    .remodal .etf-cta-btns .cta-options {
      margin-bottom: 0;
      text-align: center; }
    .remodal .etf-cta-btns .modal-option-icon {
      vertical-align: middle;
      margin-right: 0.5em; }
    .remodal .etf-cta-btns .social-share {
      display: none;
      font-size: 1.5em;
      margin-top: 1em; }
    .remodal .etf-cta-btns .social-media-icon {
      margin-right: 1em;
      vertical-align: middle; }

/* END .remodal */
.remodal-wrapper {
  padding: 10px 10px 0; }

.remodal, .remodal-wrapper:after {
  vertical-align: middle; }

/* Background */
.remodal-bg.remodal-is-opening, .remodal-bg.remodal-is-opened {
  -webkit-filter: blur(3px);
  filter: blur(3px); }

/* Overlay */
.remodal-overlay {
  background: rgba(0, 0, 0, 0.6); }

.remodal-overlay.remodal-is-opening, .remodal-overlay.remodal-is-closing {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.remodal-overlay.remodal-is-opening {
  -webkit-animation: remodal-overlay-opening-keyframes 0.3s;
  animation: remodal-overlay-opening-keyframes 0.3s; }

.remodal-overlay.remodal-is-closing {
  -webkit-animation: remodal-overlay-closing-keyframes 0.3s;
  animation: remodal-overlay-closing-keyframes 0.3s; }

/* Open and close animations */
.remodal.remodal-is-opening, .remodal.remodal-is-closing {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.remodal.remodal-is-opening {
  -webkit-animation: remodal-opening-keyframes 0.3s;
  animation: remodal-opening-keyframes 0.3s; }

.remodal.remodal-is-closing {
  -webkit-animation: remodal-closing-keyframes 0.3s;
  animation: remodal-closing-keyframes 0.3s; }

/* Close button */
.remodal-close {
  background: transparent;
  border: 0;
  color: #FFF;
  cursor: pointer;
  display: block;
  height: 70px;
  margin: 0;
  outline: 0;
  overflow: visible;
  padding: 0;
  position: absolute;
  right: 5px;
  text-decoration: none;
  top: 0;
  width: 50px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s; }

.remodal-close:hover, .remodal-close:focus {
  background: none;
  color: #95979C; }

.remodal-close:before {
  content: "\00d7";
  display: block;
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
  font-size: 50px;
  left: 0;
  line-height: 70px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 50px; }

/* Responsive video embed */
.embed-video-container {
  height: 0;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
  z-index: 5; }

.iframe-video {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

/* Video Capture Form & Overlay */
.embed-video-capture-container {
  position: relative;
  /* END .video-email-capture-form */ }
  .embed-video-capture-container .video-email-capture-form {
    background: #FFF;
    left: 15%;
    padding: 3em;
    position: absolute;
    top: 25%;
    width: 70%;
    z-index: 15;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .embed-video-capture-container .video-email-capture-form .title {
      margin-bottom: 1em;
      text-align: center; }
  .embed-video-capture-container .video-overlay {
    background: #000;
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10; }

/* END .embed-video-capture-container */
/* Keyframes
   ========================================================================== */
@-webkit-keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 0; }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }
@keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 0; }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }
@-webkit-keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0; } }
@keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0; } }
@-webkit-keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
/* Media queries */
@media only screen and (min-width: 641px) {
  .remodal {
    max-width: 800px; } }
@media (max-width: 800px) {
  .embed-video-capture-container .video-email-capture-form {
    left: 10%;
    width: 80%; } }
/* END max-width: 800px */
@media (max-width: 700px) {
  .embed-video-capture-container .video-email-capture-form {
    left: 5%;
    width: 90%; } }
/* END max-width: 700px */
@media (max-width: 600px) {
  .remodal {
    padding: 0 10px 35px 10px; }
    .remodal .modal-title {
      margin: 0 -10px 35px; }

  .embed-video-capture-container .video-email-capture-form {
    background: rgba 256, 256, 256, 0.9;
    left: 0;
    padding: 1em;
    top: 0%;
    width: 100%; } }
/* END max-width: 600px */
/* IE8 */
.lt-ie9 .remodal-overlay {
  background: #2b2e38; }

.lt-ie9 .remodal {
  width: 700px; }

/**
 * 12. - Media Queries
 *
 *
 */
@media (max-width: 1200px) {
  .sales-meetings-lp {
    /* END .how-we-can-help */
    /* END .our-products */ }
    .sales-meetings-lp .how-we-can-help {
      padding: 5% 10%; }
      .sales-meetings-lp .how-we-can-help .branded-solution {
        width: 45%;
        margin: 0 10% 8% 0; }
        .sales-meetings-lp .how-we-can-help .branded-solution.last {
          margin-right: 10%; }
        .sales-meetings-lp .how-we-can-help .branded-solution.second {
          margin-right: 0; }
    .sales-meetings-lp .our-products .product-category {
      font-size: 1.5em; }

  /* END .sales-meetings-lp */ }
/* END max-width: 1200px */
@media (max-width: 960px) {
  footer .general-info-copyright, footer .office-location {
    float: none;
    width: 100%; }
  footer .general-info-copyright {
    margin-bottom: 3em; }

  /* END footer */
  .about-the-author .author-bio {
    float: none;
    width: 100%; }
  .about-the-author .author-headshot {
    display: none; }

  /* END .about-the-author */
  .engaging-background .inner-container {
    left: 5%;
    right: 5%; }

  .homepage .additional-landing-pages-and-motivation {
    clear: both;
    float: none;
    width: 100%; }
    .homepage .additional-landing-pages-and-motivation .section-title {
      font-size: 2em; }
  .homepage .more-sales-tools-container {
    margin-right: 0;
    width: 35%; }
  .homepage .popular-sales-tools-container {
    width: 55%;
    margin-right: 10%; }
  .homepage .motivational-landing-pages, .homepage .motivational-video {
    float: left; }
  .homepage .motivational-landing-pages {
    width: 65%; }
    .homepage .motivational-landing-pages .post-info {
      float: left;
      width: 30%;
      margin-right: 5%; }
    .homepage .motivational-landing-pages .post-info.last {
      margin-right: 0; }
  .homepage .motivational-video {
    margin-right: 10%;
    width: 25%; }

  /* END .homepage */
  .inner-container {
    width: 90%; } }
/* END max-width: 960px */
@media (max-width: 900px) {
  .sales-meetings-lp {
    /* END .how-we-can-help */
    /* END .our-products */ }
    .sales-meetings-lp .how-we-can-help {
      padding: 10% 20%; }
      .sales-meetings-lp .how-we-can-help .branded-solution {
        clear: left;
        width: 100%;
        margin: 0 0 10% 0; }
        .sales-meetings-lp .how-we-can-help .branded-solution.last {
          margin-right: 0; }
        .sales-meetings-lp .how-we-can-help .branded-solution.second {
          margin-right: 0; }
    .sales-meetings-lp .our-products {
      float: none;
      padding: 10%; }
      .sales-meetings-lp .our-products .our-product-offer {
        padding: 0;
        width: 100%; }
      .sales-meetings-lp .our-products .engaging-image {
        display: none; }

  /* END .sales-meetings-lp */ }
/* END max-width: 1200px */
@media (max-width: 800px) {
  nav .justsell-logo {
    width: 25%; }
  nav .navigation-items {
    clear: left;
    float: left; }

  .category-lp {
    /* END .post */ }
    .category-lp .post .post-info, .category-lp .post .post-teaser-image {
      float: none;
      width: 100%; }
    .category-lp .post .post-teaser-image {
      max-height: 250px;
      overflow: hidden; }

  /* END .category-lp */
  .reminders-and-gear-lp header .inner-container {
    width: 90%; }
  .reminders-and-gear-lp header .title {
    font-size: 3.2em; }
  .reminders-and-gear-lp header .subtitle {
    font-size: 2.2em; }
  .reminders-and-gear-lp .gear.engaging-background {
    border-bottom: none; }
    .reminders-and-gear-lp .gear.engaging-background .inner-container {
      bottom: 0;
      left: 0;
      right: 0;
      top: auto;
      transform: none;
      width: 100%; }
    .reminders-and-gear-lp .gear.engaging-background .cta-container {
      width: 100%; }
  .reminders-and-gear-lp .gear.last {
    border-bottom: 20px solid #D8D8D8; }
  .reminders-and-gear-lp #banners-and-posters {
    background-position-x: 85%; }
  .reminders-and-gear-lp #books-and-booklets {
    background-position-x: 20%; }
  .reminders-and-gear-lp #framed-prints {
    background-position-x: 12%; }
  .reminders-and-gear-lp #mugs {
    background-position-x: 95%; }
  .reminders-and-gear-lp #note-cards {
    background-position-x: 20%; }

  /* END .reminders-and-gear-lp */
  article .thumbnail-left-20-percent {
    margin-right: 10%;
    width: 35%; }

  /* END article */ }
/* END max-width: 800px */
@media (max-width: 600px) {
  article .social-media-single-post-share strong {
    display: block; }

  footer .copyright-and-links {
    font-size: 1.2em; }

  .homepage .footer-motivational-video .title {
    width: 90%; }
  .homepage .more-sales-tools-container, .homepage .motivational-landing-pages,
  .homepage .motivational-video, .homepage .motivational-landing-pages .post-info, .homepage .popular-sales-tools-container {
    float: none;
    width: 100%; }
  .homepage .section-title, .homepage .additional-landing-pages-and-motivation .section-title {
    font-size: 3em; }
  .homepage .motivational-video, .homepage .browse-all-cta {
    margin-bottom: 5em; }

  /* END .homepage */
  .sales-meetings-lp .how-we-can-help {
    padding: 10% 5%; }
  .sales-meetings-lp .our-products .product-category-list {
    float: none; }
  .sales-meetings-lp .who-we-are .title {
    font-size: 2.4em; }

  /* END .sales-meetings-lp */ }
/* END max-width: 600px */
@media (max-width: 450px) {
  footer .contact-attribute.email {
    margin-left: 0; } }
/* END max-width: 600px */
