/**
 * Table of Contents
 *
 * 01. - Necessary Standard Imports
 * 02. - Reset
 * 03. - Typography
 * 04. - Forms
 * 05. - Utility Classes
 * 06. - Header
 *    06.1 - Top Navigation
 * 07. - Footer
 *    07.1 - About The Author
 *    07.2 - Subscriber Aquisition Form
 * 08. - Content
 *    08.1 - Posts
 *    08.2 - Specific Posts Formats
 *    08.3 - LP's
 * 09.0 - Media
 *    09.1 - Captions
 *    09.2 - Galleries
 * 10.0 - Secondary Elements
 *    10.1 - Modals
 *    10.2 - 
 * 11.0 - Media Queries
 *    11.1 - Mobile
 *    11.2 - Tablet
 *    11.3 - Desktop Small
 *    11.4 - Desktop Large
 */
/**
 * 01. - Necessary Standard Imports
 *
 * Pull in all neccessary default imports required up front.
 */
/* Fonts */
/* Colors */
/* Sitewide Widths */
/**
 * 02. - Reset
 *
 * Reset for all generally used html tags and elements
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, figure, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  background: #FFF; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block; }

ol,
ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption,
th,
td {
  font-weight: normal;
  text-align: left; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ""; }

blockquote,
q {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  quotes: none; }

a:focus {
  outline: 2px solid #c1c1c1;
  outline: 2px solid rgba(51, 51, 51, 0.3); }

a:hover,
a:active {
  outline: 0; }

a img {
  border: 0; }

/**
 * 03. - Typography
 *
 * 
 */
body,
button,
input,
select,
textarea {
  color: #262626;
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5; }

h1, h2, h3, h4 {
  color: #262626;
  clear: both;
  font-weight: 600; }

h1, h2, h3 {
  text-transform: uppercase; }

h1 {
  font-size: 3.8em;
  font-size: 3.8rem;
  line-height: 1; }

h2 {
  font-size: 2.8em;
  font-size: 2.8rem;
  line-height: 1.2; }

h3 {
  font-size: 2em;
  font-size: 2rem;
  line-height: 1.4; }

h4 {
  font-size: 2.4em;
  font-size: 2.4rem;
  line-height: 1; }

p, ol, ul {
  font-size: 2.2em;
  font-size: 2.2rem;
  margin-bottom: 1.5em; }

b,
strong {
  font-weight: 600; }

/**
 * 04. - Forms
 *
 * 
 */
input,
select,
textarea {
  background-color: #FFF;
  border-radius: 0;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  max-width: 100%;
  vertical-align: baseline; }

input,
textarea {
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  /* Removing the inner shadow on iOS inputs */
  border: 1px solid #C1C1C1;
  color: #707070;
  color: rgba(51, 51, 51, 0.7); }

input:focus,
textarea:focus {
  background-color: #FFF;
  border: 1px solid #C1C1C1;
  color: #333; }

input:focus,
select:focus {
  outline: 2px solid #C1C1C1;
  outline: 2px solid rgba(51, 51, 51, 0.3); }

button[disabled],
input[disabled],
select[disabled],
textarea[disabled] {
  cursor: default;
  opacity: .5; }

input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  background-color: #D7963E;
  border: 0;
  color: #FFF;
  cursor: pointer;
  font-weight: 300;
  padding: 0.7917em 1.2em; }

input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  background-color: #707070;
  background-color: rgba(51, 51, 51, 0.7);
  outline: 0; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  padding: 0.74em;
  width: 100%; }

textarea {
  overflow: auto;
  vertical-align: top; }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  outline: 0; }

input[type="checkbox"],
input[type="radio"] {
  padding: 0; }

.form-errors-container {
  color: #FF0000;
  margin-bottom: 2em;
  text-align: left; }

/**
 * 05. - General Structure & Utility Classes
 *
 * 
 */
/* 05.01 - General Structure */
.inner-container {
  margin: 0 auto;
  width: 725px; }

/* 05.02 - Utility Classes */
.clear-fix:before,
.clear-fix:after {
  content: "";
  display: table; }

.clear-fix:after {
  clear: both; }

.clear-fix {
  zoom: 1; }

/* For IE 6/7 (trigger hasLayout) */
/**
 * 06. - Header
 *
 * 
 */
/* 06.01 - Top Navigation */
nav {
  background-color: #FFF;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 0.7em 0;
  /* END .justsell-logo */
  /* END .navigation-items */ }
  nav .justsell-logo {
    display: block;
    float: left;
    width: 20%; }
    nav .justsell-logo img {
      display: block;
      height: auto;
      width: 100%; }
  nav .navigation-items {
    float: right;
    margin-bottom: 0;
    /* END .item */ }
    nav .navigation-items .item {
      display: inline-block;
      font-size: 0.7em;
      font-size: 1.5rem;
      margin-right: 2.5em; }
      nav .navigation-items .item:last-child {
        margin-right: 0; }
      nav .navigation-items .item a {
        color: #262626;
        text-decoration: none; }
      nav .navigation-items .item a:hover {
        text-decoration: underline; }
  nav.not-top {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s ease-in-out; }
  nav.unpinned {
    top: -108px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s ease-in-out;
    -webkit-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%); }
  nav.pinned {
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s ease-in-out; }

/* END nav */
/**
 * 07. - Footer
 *
 * 
 */
footer:before, .about-the-author:before, .footer-subscriber-acquisition:before,
footer:after, .about-the-author:after, .footer-subscriber-acquisition:after {
  content: "";
  display: block;
  min-height: 2em;
  padding: 2% 0; }

footer {
  background: #262626;
  color: #FFF; }
  footer a {
    color: #FFF; }
  footer .copyright-and-links {
    font-size: 1.4em;
    font-size: 1.4rem; }

/* END footer */
footer p, .about-the-author p {
  font-size: 1.6em;
  font-size: 1.6rem; }

/* 07.01 - About The Author */
.about-the-author {
  background: #D8D8D8; }
  .about-the-author h2 {
    margin-bottom: 0.3em; }
  .about-the-author p:last-child {
    margin-bottom: 0; }
  .about-the-author .author-bio {
    float: right;
    width: 70%; }
  .about-the-author .author-headshot {
    float: left;
    width: 25%; }

/* END about-the-author */
/* 07.02 - Subscriber Aquisition Form */
.footer-subscriber-acquisition {
  background: #FFF;
  text-align: center; }
  .footer-subscriber-acquisition p {
    margin-bottom: 0; }
  .footer-subscriber-acquisition form {
    margin: 1em 0; }
  .footer-subscriber-acquisition input[type="text"] {
    width: 70%; }
  .footer-subscriber-acquisition input[type="button"],
  .footer-subscriber-acquisition input[type="reset"],
  .footer-subscriber-acquisition input[type="submit"] {
    margin-left: -0.5em; }

/* END footer-subscriber-acquisition */
/**
 * 08. - Content
 *
 * 
 */
/* 08.01 - Content Posts */
article {
  margin: 0 auto 5em;
  max-width: 650px;
  width: 80%;
  /* Post utility classes */ }
  article figure img {
    height: auto;
    width: 80%; }
  article header {
    margin-bottom: 2.5em; }
  article h2 {
    margin-bottom: 0.5em; }
  article h4 {
    margin-bottom: 1.5em; }
  article input[type="text"] {
    width: 70%; }
  article input[type="button"],
  article input[type="reset"],
  article input[type="submit"] {
    margin-left: -0.5em; }
  article p:last-child {
    margin-bottom: 0; }
  article ol, article ul {
    list-style-type: decimal;
    padding-left: 1.5em; }
  article ol {
    list-style-type: decimal; }
  article ul {
    list-style-type: disc; }
  article li {
    margin-bottom: 0.5em; }
  article .article-title {
    margin-bottom: 0.3em; }
  article .article-author {
    color: #262626;
    font-size: 1em;
    font-size: 1.6rem; }
  article .engaging-header-image {
    height: auto;
    margin-bottom: 3em;
    width: 100%; }
  article .post-promotion {
    margin-bottom: 4em;
    text-align: center; }
  article .bottom-border {
    border-bottom: 1px solid #262626;
    margin-bottom: 1em;
    padding-bottom: 0.8em; }
  article .double-bottom-margin {
    margin-bottom: 3em; }

/* END article */
.single-post main {
  background: url("/wp-content/themes/justsell/resources/images/in-post/throughout/single-post-header-dusty-background-600x400.png") repeat-x; }

/* 08.02 - Specific Posts Formats */
.post-id-5 {
  background: #D9F2FF; }

/* THE 8 OBJECTIONS */
.post-id-10 {
  background: #DCE9DF; }

/* TOP 30 OPEN-ENDED QUESTIONS */
.post-id-29 {
  background: #A3CAED; }

/* SALES INTERVIEW QUESTIONS */
.post-id-31 {
  background: #FFE2B3; }

/* OPENING STATEMENTS */
.post-id-34 {
  background: #DEFFF6; }

/* HOW TO FOCUS */
.post-id-36 {
  background: #FFF; }

/* THE SALES PROCESS */
.post-id-39 {
  background: #D8F6CB; }

/* SALES MANAGEMENT CHECKLIST */
/**
 * 09. - Media
 *
 * 
 */
/**
 * 10. - Secondary Elements
 *
 * 
 */
/*
 *  Remodal's necessary styles
 */
/* Hide scroll bar */
html.remodal-is-locked {
  overflow: hidden; }

/* Anti FOUC */
.remodal, [data-remodal-id] {
  display: none; }

/* Necessary styles of the overlay */
.remodal-overlay {
  bottom: -5000px;
  display: none;
  left: -5000px;
  position: fixed;
  right: -5000px;
  top: -5000px;
  z-index: 9999; }

/* Necessary styles of the wrapper */
.remodal-wrapper {
  bottom: 0;
  display: none;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 10000;
  -webkit-overflow-scrolling: touch; }

.remodal-wrapper:after {
  content: "";
  display: inline-block;
  height: 100%;
  margin-left: -0.05em; }

/* Fix iPad, iPhone glitches */
.remodal-overlay, .remodal-wrapper {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

/* Necessary styles of the modal dialog */
.remodal {
  outline: none;
  position: relative;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

/* Disable Anti-FOUC */
.remodal-is-initialized {
  display: inline-block; }

/*
 *  Remodal's Mobile First Design styles
 */
.remodal {
  background: #fff;
  color: #2b2e38;
  text-align: left;
  margin-bottom: 10px;
  padding: 35px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.remodal-wrapper {
  padding: 10px 10px 0; }

.remodal, .remodal-wrapper:after {
  vertical-align: middle; }

/* Background */
.remodal-bg.remodal-is-opening, .remodal-bg.remodal-is-opened {
  -webkit-filter: blur(3px);
  filter: blur(3px); }

/* Overlay */
.remodal-overlay {
  background: rgba(0, 0, 0, 0.6); }

.remodal-overlay.remodal-is-opening, .remodal-overlay.remodal-is-closing {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.remodal-overlay.remodal-is-opening {
  -webkit-animation: remodal-overlay-opening-keyframes 0.3s;
  animation: remodal-overlay-opening-keyframes 0.3s; }

.remodal-overlay.remodal-is-closing {
  -webkit-animation: remodal-overlay-closing-keyframes 0.3s;
  animation: remodal-overlay-closing-keyframes 0.3s; }

/* Open and close animations */
.remodal.remodal-is-opening, .remodal.remodal-is-closing {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.remodal.remodal-is-opening {
  -webkit-animation: remodal-opening-keyframes 0.3s;
  animation: remodal-opening-keyframes 0.3s; }

.remodal.remodal-is-closing {
  -webkit-animation: remodal-closing-keyframes 0.3s;
  animation: remodal-closing-keyframes 0.3s; }

/* Close button */
.remodal-close {
  background: transparent;
  border: 0;
  color: #95979c;
  cursor: pointer;
  display: block;
  height: 35px;
  margin: 0;
  outline: 0;
  overflow: visible;
  padding: 0;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: 0;
  width: 35px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s; }

.remodal-close:hover, .remodal-close:focus {
  color: #2b2e38; }

.remodal-close:before {
  content: "\00d7";
  display: block;
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
  font-size: 35px;
  left: 0;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 35px; }

/* Responsive video embed */
.embed-video-container {
  height: 0;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
  z-index: 5; }

.iframe-video {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

/* Video Capture Form & Overlay */
.embed-video-capture-container {
  position: relative; }

.video-email-capture-form {
  background: #FFF;
  height: 50%;
  left: 15%;
  padding: 3em;
  position: absolute;
  top: 25%;
  width: 70%;
  z-index: 15;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.video-overlay {
  background: #000;
  background: rgba(0, 0, 0, 0.6);
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10; }

/* Keyframes
   ========================================================================== */
@-webkit-keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 0; }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }
@keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 0; }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }
@-webkit-keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0; } }
@keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0; } }
@-webkit-keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
/* Media queries */
@media only screen and (min-width: 641px) {
  .remodal {
    max-width: 960px; } }
/* IE8 */
.lt-ie9 .remodal-overlay {
  background: #2b2e38; }

.lt-ie9 .remodal {
  width: 700px; }

/**
 * 11. - Media Queries
 *
 * 
 */
