/**
 * Table of Contents
 *
 * 01. - Necessary Standard Imports
 * 02. - Reset
 * 03. - Typography
 *    03.1 - Buttons
 * 04. - Forms
 * 05. - Utility Classes
 * 06. - Header
 *    06.1 - Top Navigation
 * 07. - Footer
 *    07.1 - About The Author
 *    07.2 - Subscriber Aquisition Form
 * 08. - Content
 *    08.1 - Posts
 *    08.2 - Specific Posts Formats
 *    08.3 - Sales Meeting LP
 * 09.0 - Media
 *    09.1 - Captions
 *    09.2 - Galleries
 * 10.0 - Secondary Elements
 *    10.1 - Modals
 * 11.0 - Media Queries
 *    11.1 - Mobile
 *    11.2 - Tablet
 *    11.3 - Desktop Small
 *    11.4 - Desktop Large
 */


/**
 * 01. - Necessary Standard Imports
 *
 * Pull in all neccessary default imports required up front.
 */
@import 'partials/variables';
@import 'partials/mixins';

/**
 * 02. - Reset
 *
 * Reset for all generally used html tags and elements
 */
@import 'partials/reset';


 /**
  * 03. - Typography
  *
  * 
  */
body,
button,
input,
select,
textarea {
  color: $body-copy-black;
  font-family: $primary-font-family;
  font-size: 10px;
  font-size: 1rem;
  font-weight: $primary-font-weight;
  line-height: 1.5;
}

h1, h2, h3, h4 {
  color: $body-copy-black;
  clear:both;
  font-weight: $semibold-font-weight;
}

h1, h2, h3 {text-transform: uppercase;}

h1 {
  font-size: 3.8em;
  font-size: 3.8rem;
  line-height: 1;
}

h2 {
  font-size: 2.8em;
  font-size: 2.8rem;
  line-height: 1.2;
}

h3 {
  font-size: 2em;
  font-size: 2rem;
  line-height: 1.4;
}

h4 {
  font-size: 2.4em;
  font-size: 2.4rem;
  line-height: 1;
}

p, ol, ul {
  font-size: 2.2em;
  font-size: 2.2rem;
  margin-bottom: 1.5em;
}

b,
strong {font-weight: $semibold-font-weight;}


/* 03.01 - Buttons */
.flat-btn {
  background: $justsell-theme-orange;
  color: #FFF;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;

  &:focus,
  &:active,
  &:hover {color:#FFF;}

  &:hover{
    background: $justsell-theme-orange-hover;
    @include box-shadow( 0, 1px, 2px, rgba(0, 0, 0, 0.4) );
  }
} /* END .flat-btn */



.flat-outline-btn {

  &.white-btn,
  &.white-btn:hover {
    background:none;
    color:#656565;
    border:1px solid #CCC;
  }

  &.white-btn:hover {text-decoration: underline;}

} /* END .flat-outline-btn */
  









 /**
  * 04. - Forms
  *
  * 
  */
input,
select,
textarea {
  background-color: #FFF;
  border-radius: 0;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  max-width: 100%;
  vertical-align: baseline;
}

input,
textarea {
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)); /* Removing the inner shadow on iOS inputs */
  border: 1px solid #C1C1C1;
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
}

input:focus,
textarea:focus {
  background-color: #FFF;
  border: 1px solid #C1C1C1;
  color: #333;
}

input:focus,
select:focus {
  outline: 2px solid #C1C1C1;
  outline: 2px solid rgba(51, 51, 51, 0.3);
}

button[disabled],
input[disabled],
select[disabled],
textarea[disabled] {
  cursor: default;
  opacity: .5;
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  background-color: $justsell-theme-orange;
  border: 1px solid $justsell-theme-orange;
  color: #FFF;
  cursor: pointer;
  font-weight: $primary-font-weight;
  padding: 0.74em 1.2em;
}

input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  background-color: $justsell-theme-orange-hover;
  border-color: $justsell-theme-orange-hover;
  outline: 0;
}

input[type="search"] {-webkit-appearance: textfield;}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  padding: 0.74em;
  width: 100%;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {outline: 0;}

input[type="checkbox"],
input[type="radio"] {padding: 0;}

.form-errors-container {
  color: #FF0000;
  margin-bottom: 2em;
  text-align: left;
}


 /**
  * 05. - General Structure & Utility Classes
  *
  * 
  */

/* 05.01 - General Structure */
.inner-container {
  margin: 0 auto;
  width: 725px;
}

/* 05.02 - Utility Classes */
.clear-fix:before,
.clear-fix:after {content:""; display:table;}
.clear-fix:after{clear:both;}
.clear-fix{zoom:1;} /* For IE 6/7 (trigger hasLayout) */


 /**
  * 06. - Header
  *
  * 
  */


/* 06.01 - Top Navigation */
nav {
  background-color: #FFF;
  background-color: rgba(256, 256, 256, 0.95);
  padding: 1.2em 0;


  .justsell-logo {
    display: block;
    float: left;
    width: 20%;

    img {
      display: block;
      height: auto;
      width: 100%;
    }

  } /* END .justsell-logo */


  .navigation-items {
    float: right;
    margin-bottom: 0;

    .item {
      display: inline-block;
      font-size: 0.7em;
      font-size: 1.5rem;
      margin-right: 2.5em;

      &:last-child {margin-right: 0;}

      a {
        color: #262626;
        text-decoration: none;
      }

      a:hover {text-decoration: underline;}
      
    } /* END .item */
  } /* END .navigation-items */

  &.not-top {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    @include transition(.5s);
  }

  &.unpinned {
    top: -108px;
    @include transition(.5s);
    @include transform-translateY(-100%);
    }

  &.pinned {
    @include transform-translateY(0);
    @include transition(.5s);
  }

} /* END nav */




 /**
  * 07. - Footer
  *
  * 
  */
footer:before, .about-the-author:before, .footer-subscriber-acquisition:before,
footer:after, .about-the-author:after, .footer-subscriber-acquisition:after {
  content: "";
  display: block;
  min-height: 2em;
  padding: 2% 0;
}

footer {

  background: #262626;
  color: #FFF;

  a {color: #FFF;}

  .copyright-and-links {
    font-size: 1.4em;
    font-size: 1.4rem;
  }

} /* END footer */

footer p, .about-the-author p {
  font-size: 1.6em;
  font-size: 1.6rem;
}

/* 07.01 - About The Author */
.about-the-author {
  background: #D8D8D8;

  h2 {margin-bottom: 0.3em;}

  p:last-child {margin-bottom: 0;}

  .author-bio {
    float: right;
    width: 70%;
  }

  .author-headshot {
    float: left;
    width: 25%;
  }
}  /* END about-the-author */


/* 07.02 - Subscriber Aquisition Form */
.footer-subscriber-acquisition {
  background: #FFF;
  text-align: center;

  p {margin-bottom: 0;}

  form {margin: 1em 0;}

  input[type="text"] {width: 70%;}

  input[type="button"],
  input[type="reset"],
  input[type="submit"] {margin-left: -0.5em;}
} /* END footer-subscriber-acquisition */



 /**
  * 08. - Content
  *
  * 
  */

/* 08.01 - Content Posts */
article {
  margin: 0 auto 5em;
  max-width: $desktop-large-max-width;
  width: $desktop-large-width;

  figure img{
    height: auto;
    width: 80%;
  }

  header {margin-bottom: 2.5em;}

  h2 {margin-bottom: 0.5em;}

  h4 {margin-bottom: 1.5em;}

  input[type="text"] {width: 70%;}

  input[type="button"],
  input[type="reset"],
  input[type="submit"] {margin-left: -0.5em;}

  p:last-child {margin-bottom: 0;}

  ol, ul {
    list-style-type: decimal;
    padding-left: 1.5em;
  }

  ol {list-style-type: decimal;}

  ul {list-style-type: disc;}

  li {margin-bottom: 0.5em;}

  .article-title {margin-bottom: 0.3em;}

  .article-author {
    color:#262626;
    font-size: 1em;
    font-size: 1.6rem;
  }

  .engaging-header-image {
    height: auto;
    margin-bottom: 3em;
    width: 100%;
  }

  .post-promotion {
    margin-bottom: 4em;
    text-align: center;
  }

  /* Post utility classes */ 
  .bottom-border {
    border-bottom: 1px solid #262626;
    margin-bottom: 1em;
    padding-bottom: 0.8em;
  }

  .double-bottom-margin {margin-bottom: 3em;}

} /* END article */

.single-post main {background: url('/wp-content/themes/justsell/resources/images/in-post/throughout/single-post-header-dusty-background-600x400.png') repeat-x;}



/* 08.02 - Specific Posts Formats */
.post-id-5 {background: #D9F2FF;} /* THE 8 OBJECTIONS */
.post-id-10 {background: #DCE9DF;} /* TOP 30 OPEN-ENDED QUESTIONS */
.post-id-29 {background: #A3CAED;} /* SALES INTERVIEW QUESTIONS */
.post-id-31 {background: #FFE2B3;} /* OPENING STATEMENTS */
.post-id-34 {background: #DEFFF6;} /* HOW TO FOCUS */
.post-id-36 {background: #FFF;} /* THE SALES PROCESS */
.post-id-39 {background: #D8F6CB;} /* SALES MANAGEMENT CHECKLIST */


/* 08.03 - Sales Meetings */
.sales-meetings-lp {

  background:#E5E5E5;

  main {margin: 0 auto; width:1260px;}

  header {
    background: url("/wp-content/themes/justsell/resources/images/landing-pages/sales-meetings/sales-header-woman-man-1260x775.jpg") no-repeat center #F2BB40;
    color:#FFF;
    padding:210px 0 240px;
    text-align:center;

    .title {
      color:#FFF;
      font-size:4.2em;
      font-weight:300;
      line-height:1;
      margin-bottom:0.6em;
      text-transform: none;
    }
  } /* END header */

  .who-we-are {
    background:#46505A;
    padding:6.5em 0 9em;
    text-align:center;

    .title {
      color:#FFF;
      font-size:3.4em;
      font-weight:300;
      line-height:1.2;
      position:relative;
      text-transform: none;

      &:after {
        border-top:1px solid #FFF;
        content:" ";
        left:50%;
        margin-left:-1.5em;
        position:absolute;
        bottom:-0.8em;
        width:3em;
      }
    } /* END .title */
  } /* END .who-we-are */

  .how-we-can-help{
    background:#FFF;
    padding:50px 70px;

    .branded-solution {
      border:1px solid #E5E5E5;
      float:left;
      height:260px;
      margin:0 70px 40px 0;
      padding:25px 40px;
      width:325px;
      @include transition(.5s);
      @include box-sizing(border-box);
      
      &.active-hover-state {background:url("/wp-content/themes/justsell/resources/images/landing-pages/sales-meetings/gray-blue-white-angled-pinstripe-background-seamless-200x200.jpg") repeat center;}
      &.active-hover-state .brand-solution-tagline {color:#FFF;}
      &.active-hover-state .white-btn {
        color:#FFF;
        border-color:#FFF;
      }

      &.last{margin-right:0;}
    }
  
    .brand-logo {
      border-bottom:2px solid #F2BB40;
      display:block;
      margin-bottom:1em;
    }

    .brand-solution-tagline {
      color:#4C4C4C;
      font-size:2.6em;
      line-height:1.2;
    }

    .brand-cta {font-size:1.4em;}

    .flat-btn {margin-right:1em;}

    .section-title {color:#333333;}
  } /* END .how-we-can-help */

  .our-products {
    background:#F2BB40;

    .engaging-image {
      float:left;
      height:480px;
      width:475px;
    }

    .our-product-offer {
      float:left;
      padding:65px 100px 0;
      width:785px;
    }

    .category {color:#262626;}

    .contact-prompt {
      color:#FFF;
      font-size:2em;
      font-weight:300;
    }

    .contact-prompt a {
      color:#FFF;
      text-decoration:underline;
    }

    .contact-prompt .chat-bubble-icons {
      float:left;
      margin-right:1em;
      padding-top:0.6em;
    }

    .product-category-list {
      float: left;
      font-size: 1em;
      list-style: none;
      margin-bottom: 3em;
      width: 50%;
    }
    
    .product-category {
      font-size:1.8em;
      font-weight:300;
      text-transform:uppercase;
      line-height:2.5;
    }
    
    .section-subtitle,
    .section-title {
      color:#FFF;
      text-align:left;
    }

    .section-subtitle {
      font-size:1.8em;
      margin-bottom:0.5em;
    }

    .section-title {margin-bottom:0.4em;}
    .section-title.with-subtitle {
      line-height:1;
      margin-bottom:0;
    }
  } /* END .our-products */

  .section-title{font-size:3.6em; font-weight:300; text-align:center;}
  
} /* END .sales-meetings-lp */



 /**
  * 09. - Media
  *
  * 
  */


 /**
  * 10. - Secondary Elements
  *
  * 
  */
@import 'partials/modal';

 /**
  * 11. - Media Queries
  *
  * 
  */