/*
 *  Remodal's necessary styles
 */

/* Hide scroll bar */
html.remodal-is-locked {overflow: hidden;}

/* Anti FOUC */
.remodal, [data-remodal-id]{display:none;}

/* Necessary styles of the overlay */
.remodal-overlay{bottom:-5000px; display:none; left:-5000px; position:fixed; right:-5000px; top:-5000px; z-index:9999;}

/* Necessary styles of the wrapper */
.remodal-wrapper{bottom:0; display:none; left:0; overflow:auto; position:fixed; right:0; text-align:center; top:0; z-index:10000; -webkit-overflow-scrolling:touch;}

.remodal-wrapper:after{content:""; display:inline-block; height:100%; margin-left:-0.05em;}

/* Fix iPad, iPhone glitches */
.remodal-overlay, .remodal-wrapper{-webkit-backface-visibility:hidden; backface-visibility:hidden;}

/* Necessary styles of the modal dialog */
.remodal{outline:none; position:relative; -webkit-text-size-adjust:100%; -moz-text-size-adjust:100%; -ms-text-size-adjust:100%; text-size-adjust:100%;}

/* Disable Anti-FOUC */
.remodal-is-initialized{display:inline-block;}


/*
 *  Remodal's Mobile First Design styles
 */

.remodal {
  background: #fff;
  color: #2b2e38;
  text-align:left;
  margin-bottom: 10px;
  padding: 0 35px 35px 35px;
  width: 100%;
  -webkit-box-sizing:border-box; box-sizing:border-box;
  -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);

  .modal-title {
    background: #262626;
    color: #FFF;
    margin: 0 -35px 35px;
    padding: 0.7em;
    text-align: center;
  }

  .etf-cta-btns {
    margin-top: 2em;

    .cta-btn{
      display: inline-block;
      margin: 0 1.5em 0 0;

      &.last{margin-right: 0;}

      a {
        border: 1px solid transparent;
        color: #262626;
        display: block;
        padding: 0.65em;
        text-decoration: none;

        &:hover{background: #FFF; border-color: #B2B2B2;}
      }

     } /* END .cta-btn */

    .cta-options {margin-bottom: 0; text-align: center;}
    .modal-option-icon {vertical-align: middle; margin-right: 0.5em;}
    .social-share {display: none; font-size: 1.5em; margin-top: 1em;}
    .social-media-icon {margin-right: 1em; vertical-align: middle;}

  } /* END .etf-cta-btns */

} /* END .remodal */

.remodal-wrapper{padding:10px 10px 0;}
.remodal, .remodal-wrapper:after{vertical-align:middle;}

/* Background */
.remodal-bg.remodal-is-opening, .remodal-bg.remodal-is-opened{-webkit-filter:blur(3px); filter:blur(3px);}

/* Overlay */
.remodal-overlay{background: rgba(0, 0, 0, 0.6);}
.remodal-overlay.remodal-is-opening, .remodal-overlay.remodal-is-closing{-webkit-animation-fill-mode:forwards; animation-fill-mode:forwards;}
.remodal-overlay.remodal-is-opening{-webkit-animation:remodal-overlay-opening-keyframes 0.3s; animation:remodal-overlay-opening-keyframes 0.3s;}
.remodal-overlay.remodal-is-closing{-webkit-animation:remodal-overlay-closing-keyframes 0.3s; animation:remodal-overlay-closing-keyframes 0.3s;}

/* Open and close animations */
.remodal.remodal-is-opening, .remodal.remodal-is-closing{-webkit-animation-fill-mode:forwards; animation-fill-mode:forwards;}
.remodal.remodal-is-opening{-webkit-animation:remodal-opening-keyframes 0.3s; animation:remodal-opening-keyframes 0.3s;}
.remodal.remodal-is-closing{-webkit-animation:remodal-closing-keyframes 0.3s; animation:remodal-closing-keyframes 0.3s;}

/* Close button */
.remodal-close{
  background:transparent;
  border:0;
  color:#FFF;
  cursor:pointer;
  display:block;
  height:50px;
  margin:0;
  outline:0;
  overflow:visible;
  padding:0;
  position:absolute;
  right:10px;
  text-decoration:none;
  top:10px;
  width:50px;
  -webkit-transition:color 0.2s; transition:color 0.2s;}

.remodal-close:hover, .remodal-close:focus{background:none; color:#95979C;}

.remodal-close:before {
  content:"\00d7";
  display:block;
  font-family:Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
  font-size:50px;
  left:0;
  line-height:50px;
  position:absolute;
  text-align:center;
  top:0;
  width:50px;}

/* Responsive video embed */
.embed-video-container{height:0; max-width:100%; overflow:hidden; position:relative; padding-bottom:56.25%; z-index:5;}
.iframe-video{height:100%; left:0; position:absolute; top:0; width:100%;}

/* Video Capture Form & Overlay */
.embed-video-capture-container {
  position:relative;

  .video-email-capture-form {
    background:#FFF;
    left:15%;
    padding:3em;
    position:absolute;
    top:25%;
    width:70%;
    z-index:15;
    @include box-sizing(border-box);

    .title {margin-bottom:1em; text-align: center;}

    .single-input-submit {
      margin-bottom: 0.5em;
      text-align: center;
    }

  } /* END .video-email-capture-form */

  .video-overlay {
    background:#000;
    background: rgba(0, 0, 0, 0.6);
    bottom:0;
    left:0;
    position:absolute;
    top:0;
    right:0;
    z-index:10;
  }
} /* END .embed-video-capture-container */



/* Keyframes
   ========================================================================== */

@-webkit-keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

    opacity: 0;
  }
  to {
    -webkit-transform: none;
    transform: none;

    opacity: 1;
  }
}

@keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

    opacity: 0;
  }
  to {
    -webkit-transform: none;
    transform: none;

    opacity: 1;
  }
}

@-webkit-keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);

    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);

    opacity: 0;
  }
}

@keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);

    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);

    opacity: 0;
  }
}

@-webkit-keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Media queries */
@media only screen and (min-width:641px) {
  .remodal{max-width:960px;}
}

/* IE8 */
.lt-ie9 .remodal-overlay{background: #2b2e38;}
.lt-ie9 .remodal{width:700px;}
