/* Fonts */
$primary-font-family:"Lato", Helvetica, sans-serif;
$primary-font-weight:300;
$semibold-font-weight:600;

/* Colors */
$justsell-theme-orange:#DA8D30;
$body-copy-black:#262626;

/* Sitewide Widths */
$desktop-large-width:80%;
$desktop-large-max-width:650px;