/* Fonts */
$primary-font-family: "Lato", Helvetica, sans-serif;
$primary-font-weight: 300;
$semibold-font-weight: 600;

/* Colors */
$justsell-theme-orange: #DA8D30;
$justsell-theme-orange-hover: #EFAA56;
$body-copy-black: #262626;

/* Sitewide Widths */
$desktop-large-width-percentage: 80%;
$desktop-large-article-max-width: 650px;
$desktop-medium-max-width: 960px;
$desktop-large-max-width: 1280px;